.about {
    padding-top: calc(68px + (170 - 68) * ((100vw - 320px) / (1920 - 320)));
    &__title {
        margin-bottom: calc(40px + (82 - 40) * ((100vw - 320px) / (1920 - 320)));
    }
    &__items {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img {
            margin-bottom: calc(12px + (28 - 12) * ((100vw - 320px) / (1920 - 320)));
        }
        &-text {
            max-width: 250px;
            text-align: center;
            font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
            line-height: 150%;
            margin: 0;
        }
    }
}