@media (max-width: 370px) {
    .banner {
        min-height: 496px;
        &__button {
            display: none;
            &-adaptive {
                display: block;
            }
        }
        &__title {
            &::after {
                width: 105px;
                bottom: -28px;
            }
        }
        &__button {
            padding: 18px 38px;
    }
}
}
