.contacts {
    &__container{
        max-width: 800px;
        margin-left: calc(16px + (297 - 16) * ((100vw - 320px) / (1920 - 320)));
        margin-right: auto;
    }
    &__title {
        text-align: left;
        margin-top: calc(72px + (116 - 72) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(50px + (85 - 50) * ((100vw - 320px) / (1920 - 320)));
    }
    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    }
    &__item {
        &-title {
            font-family: $titles-font;
            font-weight: 400;
            font-size: calc(18px + 4 * ((100vw - 320px) / (1920 - 320)));
            font-weight: 400;
            margin-bottom: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
        }
        &-text {
            font-size: calc(14px + 2 * ((100vw - 320px) / (1920 - 320)));
            margin: 0;
            margin-bottom: 10px;
        }
        &-text:last-child {
            margin-bottom: 0;
        }
    }
    &__map {
        width: 100%;
        height: 65vh;
    }
}

.adress {
    max-width: 270px;
    line-height: 150%;
}

.email {
    text-decoration: underline;
}

[class*="copyrights-pane"] {
	display: none !important;
}