@media (max-width: 1585px) {
    .header {
        &__container {
            padding-right: 25px;
            padding-left: 25px;
        }
    }
}

@media (max-width: 1450px) {
    .header {
        &__phone-num {
            display: none;
        }
    }
}

@media (max-width: 1270px) {
    .header {
        &__address-text {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__nav {
            width: 100%;
            height: 100vh;
            position: absolute;
            left: -100%;
            top: 0;
            background: rgba(54, 52, 49, 0.5);
            z-index: 50;
            transition: transform .3s;
        }
        &__nav-media {
            display: block;
        }
        &__list {
            padding: 70px 50px;
            margin: 0;
            background-color: #fff;
            width: 70%;
            height: 100vh;
            display: block;
        }
        &__list-media {
            padding: 0;
            font-size: calc(12px + 4 * ((100vw - 320px) / (1920 - 320)));
        }
        &__link {
            display: block;
            font-size: 24px;
            padding: 25px 0;
        }
        &__burger {
            display: block;
            padding-top: 3px;
            width: 34px;
            height: 14px;
            position: relative;
            cursor: pointer;
            z-index: 70;
            order: -1;
            span {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #000;
                transition: transform .5s, opacity .5s;
                left: 0;
            }
            span:nth-child(1) {
                transform: translateY(-8px);
            }
            span:nth-child(3) {
                transform: translateY(8px);
            }
        }
        &__contacts {
            display: none;
        }
    }

    .header.open .header__nav{
        transform: translateX(100%);
    }

    .header.open .header__burger span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    .header.open .header__burger span:nth-child(2) {
        opacity: 0;
    }

    .header.open .header__burger span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }
    }

@media (max-width: 768px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 90;
        background: $accent-color-white;
    }
}


@media (max-width: 450px) {
    .header {
        &__logo {
            max-width: 90px;
        }
    }
}

@media (max-width: 415px) {
    .header {
        &__list {
            width: 100%;
        }
    }
}
