.help .container {
    padding-left: 6px;
}
.help {
    padding-top: calc(95px + (174 - 95) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(120px + (177 - 120) * ((100vw - 320px) / (1920 - 320)));
    padding-left: 0;
    &__title {
        max-width: 524px;
        margin: 0 auto;
        margin-bottom: calc(40px + (77 - 40) * ((100vw - 320px) / (1920 - 320)));
        padding-left: 8px;
    }
    &__items {
        display: flex;
        gap: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
    }
    &__item {
        position: relative;
        width: 50%;
        &-inner { 
            height: 280px;
            display: flex;
            margin-top: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
            &-first,
            &-second {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 16px;
            }
            &-first {
                background-color: $bg-gray-help;
                margin-right: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
            }
            &-second {
                background-color: $bg-green-help; 
            }
        }
        &-img {
            position: relative;
        }

        &-text {
        text-align: center;
        margin: 0;
        color: $accent-color-white;
        font-family: $titles-font;
        font-weight: 400;
        font-size: calc(16px + 8 * ((100vw - 320px) / (1920 - 320)));
        line-height: 130%;
        }
    }
    }

    .item-text-first,
    .item-text-second {
        position: absolute;
        text-align: left;
        font-size: calc(16px + 12 * ((100vw - 320px) / (1920 - 320)));
        z-index: 5;
    }

    .item-text-first {
        max-width: 380px;
        top: 45px;
        left: 48px;
    }

    .item-text-second {
        max-width: 250px;
        top: 165px;
        left: 53px;
    }

    .img-gradient {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }

