
$main-color: #363431;
$accent-color: #74B900;
$bg-color-active: #50790C;
$accent-color-white: #ffffff;
$pagination-color: #AEACAA;
$bg-gray-darck: #F3F3F3;
$bg-gray-light: #F9F9F9;
$gray-color-text: #828282;
$bg-gray-help: #C6C6C6;
$bg-green-help: #C7DF9E;
$border-color-gray: #B2B2B2;
$color-icon-control: #4E4D4D;
$main-font: 'VantaLight', sans-serif;
$titles-font: 'Vanta';